.comment
{
    background-color: antiquewhite;
}


#ollist {
    font-size: 20px;
    display: none;
    left: 0;
    position: fixed;
    color: black;
    background-color: rgba(255, 255, 255, 0.836);
    top: 60%;
    padding: 8px 8px 8px 8px;
    list-style: none;
    border-radius: 10px ;
  }
  
  #ollist a {
    color: rgb(9, 101, 155);
  }
  
  .access {
    font-size: 40px;
    display: block;
    left: 0;
    position: fixed;
    color: white;
    background-color: rgb(22, 122, 168);
    top: 50%;
    padding: 3px 3px 3px 3px;
    
  }
  