
.TripArea{
    margin-top: 100px;
    display: flex;
}

.AreaOne{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    margin: 50px;
    width: 27%;
    border-radius: 15px 50px;
    text-align: center ;
    font-size: 23px;
}

.TripArea2{
    display: flex;
}

.AreaOne2{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    margin: 50px;
    width: 27%;
    border-radius: 15px 50px;
    text-align: center  ;
    font-size: 23px;
    height: 500px;
    
}
.BottomOfTripsPage{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    margin: 50px;
    width: 27%;
    border-radius: 15px 50px;
    margin-right: auto;
    text-align: center ;
    font-size: 23px;
    
}

.TripsNames{
    background-color: rgba(6, 252, 47, 0.966);
    color: white;
    margin: auto;
    width: 27%;
    border-radius: 15px 50px;
    margin-right: 500px;
    text-align: center ;
    font-size: 23px;
    position:relative;
    
}
